@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 4px;
    outline: none;
}

button {
    border-radius: 4px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & header {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px 10px;

        & img {
            width: 130px;
        }

        & ul {
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;

            & li {
                list-style: none;
                margin: 0 20px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    color: hsl(224, 93%, 58%);
                }
            }
        }
    }

    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;

        & .curve img {
            width: 100%;
            margin-bottom: -8px;
        }

        & .card-1 {
            position: relative;
            padding: 50px;
            width: 100%;
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsl(240, 75%, 98%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;

            }
        }

        & .card {
            margin-bottom: 50px;
            padding: 50px;
        }

        & .card,
        & .card-1 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .content {
                position: relative;
                width: 50%;

                & .link a {
                    display: flex;
                    align-items: center;
                    color: hsl(170, 45%, 43%);
                    text-decoration: none;
                    font-size: 15px;
                    padding-bottom: 2px;
                    border-bottom: 1px solid hsl(170, 45%, 43%);
                    max-width: 170px;

                    &:hover {
                        opacity: .7;
                    }

                    & img {
                        margin-left: 5px;
                    }
                }

                & h2 {
                    font-size: 2.3em;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 400;
                    color: hsl(243, 87%, 12%);
                    margin-bottom: 20px;
                }

                & p {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    margin-bottom: 20px;
                    line-height: 2em;
                    color: hsl(238, 22%, 44%);
                }

                & div input {
                    width: 50%;
                    padding: 10px;

                }

                & div button {
                    width: 40%;
                    padding: 10px;
                    background: hsl(224, 93%, 58%);
                    color: #fff;
                    border: 2px solid hsl(224, 93%, 58%);
                    transition: .5s;
                    cursor: pointer;

                    &:hover {
                        opacity: .7;
                    }
                }

                & .card-quotes {
                    position: relative;
                    background: #fff;
                    width: 350px;
                    max-width: 100%;
                    height: auto;
                    padding: 20px;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    box-shadow: -4px 5px 17px -1px rgba(0, 0, 0, .1),
                        1px -2px 9px 0px rgba(0, 0, 0, .1);
                    font-size: 14px;
                    margin-top: 60px;

                    & p {
                        font-size: 13px;
                    }

                    & .imgBox {
                        position: relative;
                        border-radius: 50%;
                        overflow: hidden;

                        &.quotes {
                            width: 25px;
                            height: 25px;
                        }

                        &.footer {
                            width: 35px;
                            height: 35px;
                        }

                        & img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & .card-footer {
                        position: relative;
                        display: flex;

                        & .card-footer-text {
                            position: relative;
                            margin-left: 10px;
                            height: 43px;
                            overflow: hidden;

                            & p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            & .imgBox {
                position: relative;
                width: 50%;
                height: 500px;

                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    & .contact {
        background: hsla(238, 22%, 44%, .9);
        padding: 75px 75px 75px 50px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;

        & div {
            position: relative;
            display: flex;
            justify-content: space-between;
            height: auto;
            gap: 10%;

            & .contentBox {
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                & h2 {
                    font-size: 2.2em;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                & p {
                    line-height: 1.8em;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: hsl(0, 0%, 90%);

                }
            }

            & .inputBox {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 60%;

                & input {
                    position: relative;
                    width: 100%;
                    padding: 10px;
                }

                & button {
                    position: relative;
                    background: hsl(224, 93%, 58%);
                    width: 200px;
                    border: none;
                    padding: 15px 20px;
                    color: #fff;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
                    font-size: .9em;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    transition: .5s;

                    &:hover {
                        background: hsl(224, 93%, 68%);
                    }
                }
            }
        }
    }

    & footer {
        position: relative;
        padding: 50px;
        color: hsl(0, 0%, 75%);
        background: hsl(243, 87%, 12%);

        & .lo {
            filter: invert(1);
        }

        & div {
            display: grid;
            grid-template-columns: 400px 200px 200px 300px;

            & ul {
                position: relative;

                &.icons {
                    display: flex;

                    & li {
                        height: 35px;
                        width: 35px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        margin: 20px 10px;
                        @include flex();
                        transition: .5s;

                        &:hover {
                            border: 1px solid hsl(224, 93%, 58%);

                            & i {
                                color: hsl(224, 93%, 58%);
                            }
                        }

                        & i {
                            color: #fff;
                        }

                    }
                }

                & li {
                    list-style: none;
                    margin: 20px;
                    width: 100%;

                    & img {
                        margin-right: 12px;
                        // filter: invert(1);
                    }

                    & a {
                        text-decoration: none;
                        color: hsl(0, 0%, 75%);
                        transition: .5s;

                        &:hover {
                            color: hsl(224, 93%, 58%);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1116px) {

    section footer div {
        grid-template-columns: 300px 170px 170px 170px;
    }

}

@media (max-width: 1020px) {

    section footer div {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 150px;

        & ul:first-child {
            width: 140%;
        }
    }

    section .contact div {
        gap: 6%;
    }

}

@media (max-width: 925px) {

    section main .card,
    section main .card-1 {
        flex-direction: column-reverse;
    }

    section main .card .imgBox,
    section main .card-1 .imgBox,
    section main .card .content,
    section main .card-1 .content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section main .card .content p,
    section main .card-1 .content p {
        width: 80%;
    }

    main .card .content div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    section main .card .content div input,
    section main .card-1 .content div input,
    section main .card .content div button,
    section main .card-1 .content div button {
        width: 80%;
    }

    section main .card .content .card-quotes,
    section main .card-1 .content .card-quotes {
        width: 650px;
        max-width: 100%;
    }

    section main .card .content .card-quotes p,
    section main .card-1 .content .card-quotes p {
        width: 100%;
    }

    section .contact div {
        flex-direction: column;
    }

    section .contact div .contentBox,
    section .contact div .inputBox {
        width: 100%;
        @include flex();
        gap: 20px;

        & input,
        & button {
            width: 80%;
        }
    }

    section footer div {
        grid-column-gap: 100px;
    }
}

@media (max-width: 730px) {
    section footer div {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0px;

        & ul:first-child {
            width: 100%;
        }

        & ul li {
            width: 90%;
        }
    }
}

@media (max-width: 600px) {
    section header {
        padding: 20px 50px 10px;
        z-index: 2;

        & ul.navigation {
            // display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: hsl(240, 75%, 98%);
            opacity: 0;
            visibility: hidden;

            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
                @include flex();

            }
        }
    }

    section header .toggle {
        height: 50px;
        width: 50px;
        background: url('/images/menu\ \(1\).png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        filter: invert(1);
        z-index: 3;

        &.active {
            background: url('/images/close\ \(1\).png');
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: center;
        }
    }
}