@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@mixin flex ($i) {
    display: flex;
    justify-content: $i;
    align-items: center;
    flex-direction: column;
}

body {
    background: hsl(218, 28%, 13%);
    min-height: 100vh;
}

main {
    position: relative;

    & section {
        position: relative;
        @include flex(center);
        min-height: 100vh;
        color: hsl(0, 0%, 100%, );

        &.intro {
            position: relative;
            text-align: center;
            color: hsl(0, 0%, 100%, );
            background: hsl(217, 28%, 15%);


            &::before {
                content: '';
                position: absolute;
                bottom: -55%;
                right: 0;
                width: 100%;
                height: 100%;
                background: url(/images/bg-curvy-desktop.svg);
                background-repeat: no-repeat;
                z-index: 1;
            }

            & img {
                position: relative;
                z-index: 2;
                width: 100%;
            }

            & header {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 50px 50px 20px;

                & .imgBox {
                    position: relative;
                    width: 130px;

                    & img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                & ul {
                    position: relative;
                    display: flex;

                    & li {
                        position: relative;
                        list-style: none;
                        margin: 20px;

                        & a {
                            display: block;
                            text-decoration: none;
                            color: hsla(0, 0%, 100%, .5);
                            transition: .5s;

                            &:hover {
                                color: hsl(0, 0%, 100%, );

                                &::before {
                                    width: 100%;
                                    opacity: 1;
                                }
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 10px;
                                height: 2px;
                                border-radius: 30px;
                                background: #fff;
                                transition: .5s;
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            & h1 {
                margin: 30px;
                font-size: 2.2em;
                width: 70%;
                z-index: 2;
            }

            & p {
                width: 60%;
                margin: 0px 20px;
                line-height: 1.8em;
                z-index: 2;
            }

            & input[type="button"] {
                position: relative;
                z-index: 2;
                background: linear-gradient(to right, hsl(176, 68%, 64%),
                        hsl(198, 60%, 50%));
                padding: 15px;
                width: 280px;
                border: none;
                color: hsl(0, 0%, 100%, );
                border-radius: 40px;
                font-size: 1.2em;
                transition: 2s;
                margin-top: 20px;

                &:hover {
                    background: linear-gradient(to right, hsl(198, 60%, 50%),
                            hsl(176, 68%, 64%));
                }
            }
        }

        &.main {
            position: relative;
            width: 100%;
            z-index: 2;

            & div {
                position: relative;
                display: grid;
                width: 80%;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                margin: 30px auto;


                & .card {
                    position: relative;
                    text-align: center;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    border-radius: 8px;
                    transition: .5s;

                    &:hover {
                        box-shadow: 3px 0px 12px 1px hsl(176deg 68% 64%);
                        cursor: pointer;
                    }

                    & .imgBox {
                        position: relative;
                        width: 90px;
                        height: 100px;

                        & img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        &.bottom {
            position: relative;
            padding: 50px;


            & .imgBox.quote {
                position: relative;
                width: 100%;
                height: 50px;
                top: 15px;
                left: -48%;
                z-index: 1;


                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

            }

            & .illustration-card {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 100px;

                & .imgBox {
                    position: relative;
                    width: 50%;
                    height: 500px;

                    & img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                & .contentBox {
                    position: relative;
                    width: 50%;
                    padding: 30px;

                    & h2 {
                        position: relative;
                        font-size: 2.5em;
                        font-size: 400;
                        width: 70%;
                        margin-bottom: 20px;
                    }

                    & a {
                        position: relative;
                        display: inline-block;
                        margin-top: 20px;
                        text-decoration: none;
                        color: hsl(176, 68%, 64%);
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        width: 185px;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            right: 0;
                            height: 2px;
                            width: 100%;
                            background: hsl(176, 68%, 64%);
                            transform-origin: right;
                        }

                        & img {
                            position: relative;
                            margin-left: 15px;
                        }
                    }
                }
            }

            & .card-quotes-container {
                position: relative;
                // display: flex;
                // flex-wrap: wrap;
                // flex-direction: row;
                gap: 50px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-column-gap: 35px;
                width: 100%;
                // margin: 10px;
                margin-bottom: 250px;

                & .card-quote {
                    position: relative;
                    // width: 400px;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 40px 20px 20px;
                    background: hsl(219, 30%, 18%);
                    border-radius: 8px;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
                    // margin: 10px;

                    & .avatar {
                        position: relative;
                        display: flex;
                        align-items: center;

                        & .imgBox {
                            position: relative;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;

                            & img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                transition: .5s;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }

                        & .text {
                            position: relative;
                            margin-left: 10px;

                            & h1 {
                                position: relative;
                                font-size: 1em;
                                font-weight: 600;

                                & span {
                                    font-size: .8em;
                                    font-weight: 400;
                                }
                            }

                        }

                    }
                }
            }

            & .newsletter {
                position: absolute;
                margin-top: 50px;
                width: 70%;
                height: 300px;
                background: hsl(217, 28%, 15%);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 30px 90px;
                top: 85%;
                z-index: 1;
                transition: .5s;

                &:hover {
                    border: 1px solid hsl(176, 68%, 64%);
                }

                & h1 {
                    font-size: 2em;
                    font-weight: 600;
                }

                & p {
                    text-align: center;
                }

                & div {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    gap: 20px;

                    & input[type="email"] {
                        position: relative;
                        width: 65%;
                        padding: 13px 30px;
                        outline: none;
                        border: navajowhite;
                        border-radius: 40px;
                        // height: 70%;
                    }

                    & input[type="submit"] {
                        position: relative;
                        background: linear-gradient(to right, hsl(176, 68%, 64%),
                                hsl(198, 60%, 50%));
                        padding: 10px;
                        width: 230px;
                        border: none;
                        color: hsl(0, 0%, 100%, );
                        border-radius: 40px;
                        font-size: 1.1em;
                        transition: 2s;
                        // margin-top: 20px;

                        &:hover {
                            background: linear-gradient(to right, hsl(198, 60%, 50%),
                                    hsl(176, 68%, 64%));
                        }
                    }
                }
            }
        }
    }

    & footer {
        position: relative;
        color: hsl(0, 0%, 100%);
        background: hsl(216, 53%, 9%);
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        padding-top: 150px;

        & .imgBox {
            position: relative;
            width: 140px;
            height: 40px;
            margin-bottom: 30px;
            margin-top: 40px;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        & .footer-links {
            display: grid;
            grid-template-columns: 35% 20% 15% 15% 13%;

            & div {
                position: relative;

                & span {
                    margin-left: 19px;
                }

                &.lorem {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }

                & .imgBox {
                    position: relative;
                    width: 40px;
                    height: 30px;

                    & img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }


                & ul {
                    position: relative;

                    & li {
                        list-style: none;

                        & a {
                            color: #fff;
                            text-decoration: none;
                            cursor: pointer;

                            &:hover {
                                color: hsl(176, 68%, 64%);
                            }
                        }
                    }

                    &.socialmedia {
                        display: flex;

                        & li {
                            list-style: none;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            @include flex(center);
                            margin: 0 10px;
                            cursor: pointer;
                            transition: .5s;

                            &:hover {
                                border: 1px solid hsl(176, 68%, 64%);

                                & i {
                                    color: hsl(176, 68%, 64%);
                                }
                            }

                            & i {
                                position: relative;
                                transition: .5s;
                            }
                        }
                    }

                    & li {
                        list-style: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1116px) {
    main section.bottom .illustration-card .contentBox h2 {
        width: 100%;
        font-size: 2.2em;
    }

    main footer .footer-links {
        grid-template-columns: 40% 25% 15% 10%;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}

@media (max-width: 1054px) {

    main section.main div .card {
        height: 330px;
        padding: 0px 20px;
        padding-bottom: 10px;

        & h1 {
            font-size: 1.5em;
        }

        & p {
            font-size: 1em;
            margin-top: 5px;
        }
    }

    main section.main div {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    main section.intro::before {
        bottom: -59%;
    }
}

@media (max-width: 900px) {
    main footer .footer-links {
        grid-template-columns: 40% 38% 20%;
    }
}

@media (max-width: 850px) {
    main section.bottom .illustration-card {
        flex-direction: column;

        & .imgBox {
            width: 100%;
        }

        & .contentBox {
            width: 100%;
        }
    }

    main section.bottom .newsletter div {
        flex-direction: column;
    }

    main section.bottom .newsletter {
        top: 86%;
        width: 90%;
        height: 350px;
    }

    main footer .footer-links {
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 100px;
    }

    main section.intro::before {
        content: '';
        position: absolute;
        bottom: -72%;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(/images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-size: 820px;
        z-index: 1;
    }

    main section.main div .card h1 {
        font-size: 2em;
    }

    main section.main div .card p {
        font-size: 1.2em;
    }

    main section.intro p {
        width: 80%;
        font-size: 1.2em;
    }

    main section.bottom .newsletter div input[type=email],
    main section.bottom .newsletter div input[type=submit] {
        width: 100%;
    }
}

@media (max-width: 650px) {
    main section.intro h1 {
        font-size: 2em;
        width: 90%;
    }

    main section.main div {
        width: 90%;
    }

    main section.bottom .card-quotes-container .card-quote {
        height: 200px;
    }

    main section.bottom .newsletter {
        padding: 30px;

        & div {
            margin-top: 20px;
        }
    }

    main footer .footer-links {
        grid-template-columns: 1fr;
    }

    main footer .imgBox {
        margin-top: 0px;
    }

    main footer .footer-links div ul.socialmedia li {
        margin: 0 10px 0 0;
    }

    main section.intro header {
        padding: 4px 20px 20px;

        & .toggle {
            height: 50px;
            width: 50px;
            margin: auto 0;
            background: url('/images/menu\ \(1\).png');
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            cursor: pointer;
        }

        & .imgBox {
            height: 100px;
        }

        & ul {
            display: none;
        }
    }
}