.container {
    position: absolute;
    top: 5px;
    left: 1156px;
    display: -webkit-box;
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    width: 135px;
}
.btn {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    left: 4px;
    top: 11px;
    border-radius: 4px;
}
.btn:hover {
    text-decoration: none;
}
.btn-1 {
    background: #e02c26;
    font-weight: 100;
    border-radius: 4px;
}
.btn-1 svg {
    position: absolute;
    height: 45px;
    top: 0;
    width: 155px;
    left: 0;
    border-radius: 4px;
}
.btn-1 rect {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
    border-radius: 4px;
}
.btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 4px;
}
.btn-1:hover rect {
    position: absolute;
    top: 42px;
    left: 1170px;
    padding: 10px;
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 4px;
}
